@model ApplicationUser
@using UserManagement.Models;
@using Mvc.JQuery.Datatables.TagHelpers
@inject ApplicationDbContext DbContext
@{
    ViewBag.Title = "Edit User";
}


<div class="modal-dialog">
    <div class="modal-content">
        <form asp-controller="User" asp-action="Edit" method="post" class="form-horizontal" role="form">
            <div class="modal-body">
                <div class="modal-header">
                    <button type="button" class="close modal-close" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>

                </div>
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <input class="form-control" asp-for="Id" asp-material-design="true" disabled />
                <input class="form-control" asp-for="UserName" asp-material-design="true" />
                <input class="form-control" asp-for="Email" asp-material-design="true" />
                <input class="form-control togglebutton" asp-for="EmailConfirmed" asp-material-design="true" />
                <input class="form-control" asp-for="PhoneNumber" asp-material-design="true" />
                <input class="form-control" asp-for="PhoneNumberConfirmed" asp-material-design="true" />
                <input class="form-control" asp-for="TwoFactorEnabled" asp-material-design="true" />
                <input class="form-control" asp-for="LockoutEnabled" asp-material-design="true" />
                <input class="form-control" asp-for="LockoutEnd" data-provide="datetimepicker" data-date-autoclose="true" asp-material-design="true" />
                <input class="form-control" asp-for="AccessFailedCount" asp-material-design="true" />
                <input class="form-control" asp-for="Logins" asp-material-design="true"  value="@string.Join(",", Model.Logins.Select(l => l.LoginProvider))" disabled/>
                <input class="form-control" asp-for="Claims" asp-material-design="true" value="@string.Join(",", Model.Claims.Select(l => l.ClaimType))" disabled />
                <input class="form-control" asp-for="Roles" asp-material-design="true" value="@string.Join(",", Model.Roles.Join(DbContext.Roles, ur => ur.RoleId, r => r.Id, (ur, Roles) => new { ur, Roles }).Select(ur => ur.Roles.Name ))" disabled />
                <input class="form-control" asp-for="SecurityStamp" asp-material-design="true" disabled />
                <input class="form-control" asp-for="NormalizedEmail" asp-material-design="true" disabled />
                <input class="form-control" asp-for="PasswordHash" asp-material-design="true" disabled />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect waves-light modal-trigger disabled" disabled>Save</button>
                    <button type="button" class="btn btn-primary modal-close waves-effect waves-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>